.bg-white {
  background-color: white;
  color: black;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-gray {
  background-color: #333;
  color: #FFF;
}

.bg-yellow {
  background-color: #fbda16;
  color: #333;
}

.text-yellow {
  color: #fbda16;
}

.link-gray {
  color: #666;
}

.link-gray:hover {
  color: #222;
}
